$primary-btn-color: #24d317;
$primary-btn-color-hover: #1eb513;
$primary-btn-color-active: #28ec1a;

$text-color: #292828;

$link-color: #1868ea;
$link-color-hover: #1861d5;

$font-family: Arial, sans-serif;

.link{
    color: $link-color;
    cursor: pointer;

    &:hover{
        color:$link-color-hover;
    }
}

body {
    font-family: $font-family;
    color: $text-color;
}

.column {
    margin-bottom: 20px;
}

button {
    background-color: $primary-btn-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $primary-btn-color-hover;
    }

    &:active{
        background-color: $primary-btn-color-active;
    }
}